@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.stretch{
    width: 100%;
    height: 50rem;
    object-fit: cover;
}


body
{
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(255, 255, 255);
    line-height: 1.6;
    color: rgb(46, 45, 45);
    margin-top: -2%;

}



/*Main text(index,join,contact)*/
.card-text
{
    color: rgb(48, 12, 12);
    text-shadow: 0 5px 15px rgba(53, 53, 53, 0.514);
    text-align: center;
}


/*Main text(about)*/
.card-text-about
{
    color: rgb(48, 12, 12);
    text-shadow: 0 5px 15px rgba(53, 53, 53, 0.514);
    text-align: center;

}


/*Scaling for the Application Image on the index.html page*/
.app-img
{
    max-width:100%;
    max-height:100%;
    object-fit: contain
}

.app-badge-div
{
    text-align: center;
}

.app-img-div{
    padding: 1%;
}

/*Contact info text(contact)*/
.contacts
{
    text-align: center;
    padding: 5%;

}

.contact-cards
{
    padding: 2%;
}

.contact-card-body
{
    padding: 2%; 
}

/*formatting for the form on the contact page*/
.contact-form
{
    text-align: center;
    padding: 5%;
}




/*tel and email(contact)*/
.telandemail
{
    text-align: center;
}


/*about img block(about)*/
.aboutimg
{
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}


/*card body(about)*/
.card-body-about
{
    text-align: left;
    padding: 2%;
    margin: 10px;
}

/* This padding is for the div which is around the cards*/
.about-cards
{
    padding: 2%;
}

/*This is just used to have a gap between each card*/
.spacing-card
{
    height: 15px;
}

/*let us email text*/
.let-us-email
{
    font: arial;
    font-size: 25px;
    line-height: 1;
    text-align: center;
    padding: 5%;
}

.join-layout
{
    margin-top:-100px;
}

/*transparent text background*/
.white-box
{
    background-color: rgba(255, 255, 255, 0.85);
    padding: 2%;

}

.form-group
{
    width: auto;
    text-align: center;
    margin: 0 auto;
}

.email-button
{
    text-align: right;
    color: blueviolet;
    margin: -38px -85px;
  
}





.btn-purple {
    color: #fff;
    background-color: #8a2be2;
    border-color: #8a2be2;
}
.btn-purple:hover {
    color: #fff;
    background-color: #6e25b3;
    border-color: #6e25b3;
}

