

.stretch{
    width: 100%;
    height: 50rem;
    object-fit: cover;
}


body
{
    background-color: rgb(255, 255, 255);
    line-height: 1.6;
    color: rgb(46, 45, 45);
    margin: 0;

    margin-top: 45px;
}



/*Main text(index,join,contact)*/
.card-text
{
    font-family: "Tahoma";
    font-weight: 300;
    color: rgb(48, 12, 12);
    text-shadow: 0 5px 15px rgba(53, 53, 53, 0.514);
    text-align: center;
}


/*Main text(about)*/
.card-text-about
{
    font-family: "Tahoma";
    font-weight: 300;
    color: rgb(48, 12, 12);
    text-shadow: 0 5px 15px rgba(53, 53, 53, 0.514);
    text-align: center;
    margin-left: 20px;

}




/*button(index,join,contact,about)*/
.button
{
    text-align: center;
    color: blueviolet;
}



/*Contact info text(contact)*/
.contacts
{
    text-align: center;
    padding: 5%;

}

/*formatting for the form on the contact page*/
.contact-form
{
    text-align: center;
    padding: 5%;
}




/*tel and email(contact)*/
.telandemail
{
    text-align: center;
}


/*about img block(about)*/
.aboutimg
{
    display: block;
    width: 1000px;
    height: 1260px;
    margin-left: 1040px;

}


/*card body(about)*/
.card-body-about
{
    text-align: left;
    width: 1000px;
    margin-top: 10px;
}


/*let us email text*/
.let-us-email
{
    font: arial;
    font-size: 25px;
    line-height: 1;
    text-align: center;
}

/*transparent text background*/
.white-box
{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 25px;

}


.form-group
{
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

.email-button
{
    text-align: right;
    color: blueviolet;
    margin: -38px -85px;
  
}


.stretch{
    width: 100%;
    height: 50rem;
    object-fit: cover;
}



.btn-purple {
    color: #fff;
    background-color: #8a2be2;
    border-color: #8a2be2;
}
.btn-purple:hover {
    color: #fff;
    background-color: #6e25b3;
    border-color: #6e25b3;
}
.btn-check:focus + .btn-purple, .btn-purple:focus {
    color: #fff;
    background-color: #6e25b3;
    border-color: #6e25b3;
    box-shadow: 0 0 0 0.25rem rgba(146, 9, 226, 0.5);
}
.btn-check:checked + .btn-purple, .btn-check:active + .btn-purple, .btn-purple:active, .btn-purple.active, .show > .btn-purple.dropdown-toggle {
    color: #fff;
    background-color: #6e25b3;
    border-color: #6e25b3;
}
.btn-check:checked + .btn-purple:focus, .btn-check:active + .btn-purple:focus, .btn-purple:active:focus, .btn-purple.active:focus, .show > .btn-purple.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-purple:disabled, .btn-purple.disabled {
    color: #fff;
    background-color: #8a2be2;
    border-color: #8a2be2;
}
